Builds/VisualStudio2019/.vs/Blood/v16/Solution.VC.db
Builds/VisualStudio2019/.vs/Blood/v16/ipch/AutoPCH/8446436ab9b43a3c/INCLUDE_JUCE_GUI_BASICS.ipch
Builds/VisualStudio2019/.vs/Blood/v16/Browse.VC.db
Builds/VisualStudio2019/.vs/Blood/v16/.suo
