Builds/VisualStudio2019/.vs/Blood/v16/Solution.VC.db
Builds/VisualStudio2019/.vs/Blood/v16/ipch/AutoPCH/8446436ab9b43a3c/INCLUDE_JUCE_GUI_BASICS.ipch
Builds/VisualStudio2019/.vs/Blood/v16/Browse.VC.db
Builds/VisualStudio2019/.vs/Blood/v16/.suo
Builds/VisualStudio2019/.vs/Blood/v16/ipch/AutoPCH/b3cf42d9e6b21042/PLUGINEDITOR.ipch
Builds/VisualStudio2019/.vs/Blood/v16/ipch/AutoPCH/bc7d59d55900450f/DISTORTION.ipch
Builds/VisualStudio2019/.vs/Blood/v16/ipch/AutoPCH/c7e2b0ef33d6427/PLUGINPROCESSOR.ipch
Builds/VisualStudio2019/.vs/Blood/v16/ipch/AutoPCH/ef6c0062b7b8ef5e/INCLUDE_FF_METERS_LEVELMETER.ipch
*.ipch
*.opendb
*.ilk
*.ilk
Builds/VisualStudio2019/x64/Debug/VST3/Blood.ilk
JuceLibraryCode/modules/ff_meters/LevelMeter/LevelMeterSource.h
JuceLibraryCode/modules/ff_meters/Doxyfile
JuceLibraryCode/modules/ff_meters/LevelMeter/LevelMeterSource.h
JuceLibraryCode/modules/ff_meters/LICENSE.md
Builds/VisualStudio2019/x64/Debug/Shared Code/BinaryData.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/Distortion.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/Fire.lib
Builds/VisualStudio2019/x64/Debug/Shared Code/Fire_SharedCode.log
Builds/VisualStudio2019/x64/Debug/Shared Code/Fire_SharedCode.pdb
Builds/VisualStudio2019/x64/Debug/Shared Code/Fire_SharedCode.tlog/CL.15708.write.1.tlog
Builds/VisualStudio2019/x64/Debug/Shared Code/Fire_SharedCode.tlog/CL.command.1.tlog
Builds/VisualStudio2019/x64/Debug/Shared Code/Fire_SharedCode.tlog/CL.read.1.tlog
Builds/VisualStudio2019/x64/Debug/Shared Code/Fire_SharedCode.tlog/Fire_SharedCode.lastbuildstate
Builds/VisualStudio2019/x64/Debug/Shared Code/Fire_SharedCode.tlog/Lib-link.read.1.tlog
Builds/VisualStudio2019/x64/Debug/Shared Code/Fire_SharedCode.tlog/Lib-link.write.1.tlog
Builds/VisualStudio2019/x64/Debug/Shared Code/Fire_SharedCode.tlog/Lib.command.1.tlog
Builds/VisualStudio2019/x64/Debug/Shared Code/Fire_SharedCode.vcxproj.FileListAbsolute.txt
Builds/VisualStudio2019/x64/Debug/Shared Code/include_ff_meters.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_basics.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_devices.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_formats.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_plugin_client_utils.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_processors.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_utils.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_core.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_cryptography.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_data_structures.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_dsp.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_events.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_graphics.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_gui_basics.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_gui_extra.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_opengl.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/PluginEditor.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/PluginProcessor.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/Preset.obj
Builds/VisualStudio2019/x64/Debug/VST3/Fire.exp
Builds/VisualStudio2019/x64/Debug/VST3/Fire.lib
Builds/VisualStudio2019/x64/Debug/VST3/Fire.pdb
Builds/VisualStudio2019/x64/Debug/VST3/Fire.vst3
Builds/VisualStudio2019/x64/Debug/VST3/Fire_VST3.log
Builds/VisualStudio2019/x64/Debug/VST3/Fire_VST3.tlog/CL.command.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/Fire_VST3.tlog/CL.read.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/Fire_VST3.tlog/CL.write.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/Fire_VST3.tlog/Fire_VST3.lastbuildstate
Builds/VisualStudio2019/x64/Debug/VST3/Fire_VST3.tlog/Fire_VST3.write.1u.tlog
Builds/VisualStudio2019/x64/Debug/VST3/Fire_VST3.tlog/link.command.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/Fire_VST3.tlog/link.read.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/Fire_VST3.tlog/link.write.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/Fire_VST3.tlog/rc.command.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/Fire_VST3.tlog/rc.read.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/Fire_VST3.tlog/rc.write.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/Fire_VST3.vcxproj.FileListAbsolute.txt
Builds/VisualStudio2019/x64/Debug/VST3/include_juce_audio_plugin_client_VST3.obj
Builds/VisualStudio2019/x64/Debug/VST3/resources.res
Builds/VisualStudio2019/x64/Debug/VST3/vc142.pdb
JuceLibraryCode/modules/ff_meters/Doxyfile
JuceLibraryCode/modules/ff_meters/LevelMeter/LevelMeterSource.h
JuceLibraryCode/modules/ff_meters/LICENSE.md
JuceLibraryCode/modules/ff_meters/LookAndFeel/LevelMeterLookAndFeelMethods.h
JuceLibraryCode/modules/ff_meters/README.md
*.db
