[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE/
	branch = develop
[submodule "modules/melatonin_inspector"]
	path = modules/melatonin_inspector
	url = https://github.com/sudara/melatonin_inspector.git
	branch = main
[submodule "cmake"]
	path = cmake
	url = https://github.com/sudara/cmake-includes.git
	branch = main
